@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


*, *::before, *::after {    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    list-style: none;    
    text-decoration: none;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    /* border: 1px solid black; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;

}

header, main, footer, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

header img {
    height: 1.75rem;
    width: 5.25rem;
    margin: 8.5rem 0 4rem;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

s {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

header p {
    font-size: 1.25rem;
}

.error {
    border-color: hsl(354, 100%, 66%);
    margin-bottom: 4rem;
}

.error_text {
    position: absolute;
    width: 77.5%;
    text-align: center;
    font-size: 1rem;
    color: hsl(354, 100%, 66%);
    top: 28rem;
}

form {
    width: 100%;
    padding: 0;
}

input {
    width: 90%;
    border-radius: 20px;
    padding: 1.1rem 0 1.1rem 3rem;
    margin: 3rem 0 1rem;
    border: 1px solid hsla(0, 0%, 59%, 0.751);
}

input::placeholder {
    color: hsla(0, 0%, 59%, 0.751);
    font-size: 1.2rem;
}

button {
    border: none;
    width: 90%;
    padding: 1.1rem;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    background: hsl(223, 87%, 63%);
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

main img {
    margin: 4rem 0 10rem;
    width: 100%;
    max-width: 64rem;
}

.socials {
    display: flex;
}

.border {
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
    border: 1px solid hsla(0, 0%, 59%, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.75rem;
    cursor: pointer;
}

footer a {
    color: hsl(223, 87%, 63%);
}


footer p {
    font-size: 1rem;
    color: hsl(0, 0%, 59%);
    margin: 2rem 0 4rem;
}

@media screen and (min-width: 768px) {

    header img {
        height: 3rem;
        width: 9rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    header p {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    form {
        flex-direction: row;
        max-width: 64rem;
        position: relative;
    }

    input {
        max-width: 42rem;
        border-radius: 30px;
        padding: 1.75rem 0 1.75rem 3rem;
        font-size: 1.55rem;
        margin: 0;
    }

    .error_text {
        font-size: 1.25rem;
        text-align: left;
        color: hsl(354, 100%, 66%);
        top: 6.25rem;
        left: 3.5rem;
    }

    .error {
        margin: 0;
    }
 

    button {
        max-width: 20rem;
        padding: 1.75rem;
        border-radius: 30px;
        font-size: 1.55rem;
        font-weight: 600;
        margin-left: 1.25rem;
    }

    main img {
        margin: 8rem 0 10rem;
    }

    footer p {
        font-size: 1.25rem;
    }

}